<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-hover table-bordered">
    <thead>
    <tr>

        <th>创建时间</th>
        <th>直播ID</th>
        <th>视频标题</th>
        <th>查看收益钻石数</th>
    </tr>
    </thead>
    <tbody>
    <foreach name="lists" item="vo">
        <tr>
            <td>
                {$vo.createtime|strtotime|date="Y-m-d", ###}
            </td>
            <td>{$vo.webcastid}</td>
            <td>{$vo.videotitle}</td>
             <td>
                 <a href="{:U('Anchor/lookninemoney',array('webcastid'=>$vo['webcastid']))}" >查看详情</a>
             </td>
        </tr>
    </foreach>
    </tbody>
</table>
</body>
</html>