
<div class="footer">
    <div class="outlink-bg">
        <div class="outlink">
            <p><a href="http://webscan.360.cn/index/checkwebsite/url/www.9dcj.com" target="_blank"><img border="0" src="__PUBLIC__/images/zwj.png"/></a><a key="57919a61efbfb033fb17eab6" logo_size="124x47" logo_type="business" href="http://www.anquan.org"><script src="//static.anquan.org/static/outer/js/aq_auth.js"></script></a>
            <p> <a href="{:U('Aboutus/disclaimer')}" target="_blank">免责声明</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="{:U('Aboutus/sitemap')}" target="_blank">网站地图</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <a href="{:U('Aboutus/livetutorial')}" target="_blank">直播教程</a>
        </p>
            <p> Copyright © 2016 9dcj.com.All Rights Reserved</p>
            <p>市场有风险，投资需谨慎 </p>
        </div>
    </div>
</div>

<div style="display:none">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260105846'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260105846' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
