<include file="./Tpl/default/Public/header.html" />

    <!--左边导航部分-->
   
        <include file="Public:personal" />
    
    <!--右侧部分-->
    <div class="u_mainbody">
			<div class="consume_nr">
        	<div class="shark_tit earnings_top clearfix">
                            <p class="consume_tit"><i class="consume_tit_iconbo"></i>系统消息</p>
            </div>
			<div class="inone"><img src="__PUBLIC__/images/inf.png" /></div>
			<!--<ul class="perMessage">
				<li class="clearfix">
					<img class="messageIcon" src="https://apic.douyucdn.cn/upload/avatar/face/201608/04/079ce75a65cb360474c337ef8133e2d8_big.jpg?rltime">
					<div class="messContent">
						<p class="itemP clearfix">
							<span class="messageTitle">小助手</span>
							<span class="createdTime">09月03日</span>
							<span class="clearfix"></span>
						</p>
						<p class="itemUrl">
							<span>【代言人】张艺兴和大家一起入学啦！9月开学季，华丽公布首位代言人——颜值逆天、才华满格的全能偶像张艺兴！今后的日子里，二爷将与船长一起开启新的航海征程并学习手游技术哟~二爷直播间1222，赶快关注起来！</span><a target="_blank" href="">详细&gt;</a></p>
				</div>
				</li>
				<li class="clearfix">
					<img class="messageIcon" src="https://apic.douyucdn.cn/upload/avatar/face/201608/04/079ce75a65cb360474c337ef8133e2d8_big.jpg?rltime">
					<div class="messContent">
						<p class="itemP clearfix">
							<span class="messageTitle">小助手</span>
							<span class="createdTime">09月03日</span>
							<span class="clearfix"></span>
						</p>
						<p class="itemUrl">
							<span>【代言人】张艺兴和大家一起入学啦！9月开学季，华丽公布首位代言人——颜值逆天、才华满格的全能偶像张艺兴！今后的日子里，二爷将与船长一起开启新的航海征程并学习手游技术哟~二爷直播间1222，赶快关注起来！</span><a target="_blank" href="">详细&gt;</a></p>
				</div>
				</li>
				<li class="clearfix">
					<img class="messageIcon" src="https://apic.douyucdn.cn/upload/avatar/face/201608/04/079ce75a65cb360474c337ef8133e2d8_big.jpg?rltime">
					<div class="messContent">
						<p class="itemP clearfix">
							<span class="messageTitle">小助手</span>
							<span class="createdTime">09月03日</span>
							<span class="clearfix"></span>
						</p>
						<p class="itemUrl">
							<span>【代言人】张艺兴和大家一起入学啦！9月开学季，华丽公布首位代言人——颜值逆天、才华满格的全能偶像张艺兴！今后的日子里，二爷将与船长一起开启新的航海征程并学习手游技术哟~二爷直播间1222，赶快关注起来！</span><a target="_blank" href="">详细&gt;</a></p>
				</div>
				</li>
			</ul>-->
			
        <p class="page"></p>
    </div>
</div>
</div>
    </div>
</div>
    </div>
<include file="./Tpl/default/Public/footer.html" />