<include file="./Tpl/default/Public/header.html" />
<!--aboutus /S-->
<div class="main_boc">
    <div class="wrap clearfix">
        <div class="main_fl" style="width:1200px;">
            <h2>关于我们</h2>

            <div class="news_cont">
                <p>9度财经：隶属于上海灏月传媒科技有限公司，创始人及管理团队拥有多年金融行业从业经验，同时积极引入互联网和财经媒体的专业人才，在互联网平台、财经媒体、投资资讯、教育、软件产品五大领域开拓创新，致力于共建财经领域的互联网直播+新生态。</p>
                <div>
                    <img src="/Public/images/logo1.png">
                </div>
                <p>
                    我们的宗旨：提供专业、及时、海量的财经资讯信息，满足广大互联网用户对财经资讯和金融信息的需求，通过“普通投资者-财经大咖”的培养生态循环系统，帮助普通用户成为财经大咖。
                </p>
                <p>我们的价值观：锐意进取，开拓创新，以用户需求就是我们奋斗的方向，做值得信赖的、有价值的财经直播服务平台。</p>
                <p>
                    联系我们：
                </p>
                <p>
                    电话：021-59992550</P>
                <p>
                    地址：上海市嘉定区曹安公路2038弄华拓大厦3号楼。
                </p>
            </div>
        </div>

    </div>
</div>
<!--aboutus /E-->

<include file="./Tpl/default/Public/footer.html" />
</body>
</html>