<include file="./Tpl/default/Public/header.html" />

<div class="main_boc">
    <div class="wrap clearfix">
        <div class="main_fl" style="width:1200px;">
            <h2>用户协议</h2>

            <div class="news_cont">
                九度直播平台规范守则
一、用户类
禁止以下行为或内容
1.用户在社区内的言论(包括但不限于文字、图片、音频、视频，下同)不得违反国家的法律法规。根据《互联网新闻信息服务管理规定》，用户的言论不得含有下列内容：
(一) 违反宪法确定的基本原则的；
(二) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
(三) 损害国家荣誉和利益的；
(四) 煽动民族仇恨、民族歧视，破坏民族团结的；
(五) 破坏国家宗教政策，宣扬邪教和封建迷信的；
(六) 散布谣言，扰乱社会秩序，破坏社会稳定的；
(七) 散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；
(九) 煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；
(十) 以非法民间组织名义活动的；
(十一) 含有法律、行政法规禁止的其他内容的
2.发布包含人身攻击、人格侮辱、恐吓、威胁等不和谐内容
3.发帖诱导用户进行虚假评论、顶贴、转发以及诱导粉丝对其他用户进行人身攻击
4.多次发布广告或其他无意义内容，或在其他用户个人讨论界面下多次重复发送广告或其他无意义内容
6.用户的账号头像、昵称、简介、发帖侵犯到他人（包括法人和自然人）的合法权益或个人隐私
7.一切与广告、销售活动或者其他营销信息相关的内容
二、用户违规内容处理方式
处理规则：
1.发布包含人身攻击、人格侮辱、恐吓、威胁等不和谐内容，一经发现，运营方有权对该用户发布的内容以及相关内容进行删除；若用户的违规行为累积达到三次或以上，运营方有权对该用户账号进行封号处理。
2.发帖诱导用户进行虚假评论、顶贴、转发以及诱导粉丝对其他用户进行人身攻击，一经发现，运营方有权对该用户发布的内容以及相关内容进行删除；若用户的违规行为累积达到三次或以上，运营方有权对该用户账号进行封号处理。
3.多次发布广告或其他无意义内容，或在其他用户个人讨论界面下多次重复发送广告或其他无意义内容，一经发现，运营方有权对该用户发布的内容以及相关内容进行删除；若用户的违规行为累积达到三次或以上，运营方有权对该用户账号进行封号处理。
5.用户的账号头像、昵称、简洁、发帖侵犯到他人（包括法人和自然人）的合法权益或个人隐私。一经发现，运营方有权对该用户发布的内容以及相关内容进行删除；若用户的违规行为累积达到三次或以上，运营方有权对该用户账号进行封号处理（持续时间五个工作日）；若用户的违规行为累积达到十次或以上，运营方有权对该用户账号进行永久冻结处理。
6.一切与广告、销售活动或者其他营销信息相关的内容，如发现，运营方将进行永久封号处理。
三、讲师类
直播时禁止内容：
1.违规广告： 处罚内容包括但不限于：假冒及走私手机、手表、化妆品、烟草、赌博游戏网站、刷QB、YB等、成人用品、枪支、军刀、弓弩类、成人影视、云盘类、性用品、保健品类、非法性药品和性病治疗等违规违法广告。广告投放范围包括但不限于：直播时展示或语音宣传、主播间水印、麦序、公屏、频道接待语、频道公告、主播及频道昵称等
2.P2P、私募宣传： 须遵守证券业监管法律法规体系
4.私下收费： 课件类不得私下收费，不得发布银行账号、支付宝等支付信息
5.宣传竞品： 不得在9度平台宣传和发布其他财经直播互动平台以及文字直播类企业相关信息
6.非财经直播： 不得在财经模板做非财经类内容直播或转播财经类电视节目
7.粗俗言语
违规处罚规定：
1、凡有关代客理财、P2P宣传、私募宣传等，一经发现，官方给予警告并对有权对违规内容进行删除，关闭其财经直播权限1天,同时1周内不得上首页各类推荐位；
2、发布银行账号、支付宝等支付信息，一经发现，首次官方给予警告并对违规内容进行删除，第二次将关闭直播权限1个月；
3、在平台宣传和发布其他财经直播互动平台以及文字直播类企业相关信息，一经发现或被举报，首次官方给予警告并对该用户发布的相关内容进行删除，第二次给予删除相关内容并做封号处理；
            </div>
        </div>

    </div>
</div>
<include file="./Tpl/default/Public/footer.html" />