<include file="./Tpl/default/Public/header.html" />

<div class="main_boc">
    <div class="headtop"></div>
    <div class="ditu_box clearfix">
        <div class="ditu_left">
            <ul>
                <li><i class="map"></i><a href="" target="_blank">网站地图</a></li>
            </ul>
        </div>
        <div class="ditu_right">
            <div class="ditu_right_a">
                <img src="http://www.9dcj.com/Public/images/9ducj/z.jpg"/>
            </div>
            <div class="ditu_right_b">
                <ul>
                    <li>
                        <i class="arrow"></i><a class="bar" href="http://www.9dcj.com" target="_blank">首页</a>
                    </li>
                    <li>
                        <i class="arrow"></i><a class="bar" href="http://zhibo.9dcj.com/" target="_blank">直播大厅</a>
                    </li>
                    <li>
                        <i class="arrow"></i><a class="bar" href="http://shixue.9dcj.com/" target="_blank">视学堂</a>

                    </li>
                    <li>
                        <i class="arrow"></i><a class="bar" href="http://toutiao.9dcj.com/" target="_blank">财经头条</a>

                    </li>
                    <li>
                        <i class="arrow"></i><a class="bar" href="http://shuju.9dcj.com/" target="_blank">9度数据</a>

                    </li>
                </ul>
            </div>
            <div class="ditu_right_c">
                <h3>友情链接</h3>
                <div class="yqlj">
                </div>
            </div>
        </div>
    </div>
</div>
<include file="./Tpl/default/Public/footer.html" />