<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="spboxconimg" style="width: 860px; height: 489.11px; ">
    <!--<script type="text/javascript" src="__PUBLIC__/js/sewise.player.min.js?server=live&type=rtmp&streamurl=rtmp://pili-live-rtmp.ybzx168.com/9dcj1/JDCF1472184281&autostart=true&buffer=5&lang=zh_CN&logo=http://onvod.sewise.com/libs/swfplayer/skin/images/logo.png&poster=http://www.mght99.com/Adminuploader/mghtad.gif&title=LiveVideo&skin=liveWhite"></script>-->
    <!--极酷阳光播放器/代码开始-->
    <script type="text/javascript" src="__PUBLIC__/js/player/js/swfobject.js"></script>
    <div class="videos" id="CuPlayer"><b><img src="__PUBLIC__js/player/images/loading.gif"  /> 网页视频播放器加载中，请稍后...</b></div>
    <script type="text/javascript">
        var so = new SWFObject("__PUBLIC__/js/player/player.swf","myCuPlayer","860","489","9","#000000");
        so.addParam("allowfullscreen","true");
        so.addParam("allowscriptaccess","always");
        so.addParam("wmode","opaque");
        so.addParam("quality","high");
        so.addParam("salign","lt");
        //播放器设置文件-----------------------------
        so.addVariable("JcScpFile","__PUBLIC__/js/player/CuSunV2setLive.xml"); //配置文件
        //视频文件及略缩图--------------------------
        /* 以下这行仅为rtmp直播时写法示例，直播信号是关的，请对应换成你自己的直播流使用 */
        so.addVariable("JcScpServer","rtmp://pili-live-rtmp.ybzx168.com/9dcj1"); //流媒体服务器


        so.addVariable("JcScpVideoPath","{$list}");
        /*so.addVariable("JcScpVideoPath","JDCF14733986781"); //直播流名称*/

        so.addVariable("JcScpLiveMode","1");//设置直播模式

        so.addVariable("JcScpAutoPlay","yes"); //是否自动播放
        so.addVariable("JcScpImg","__PUBLIC__/js/player/images/startpic.jpg"); //视频缩略图
        //-----------------------------------------
        so.addVariable("JcScpSharetitle","极酷阳光播放器(CuSunPlayerV3.5)版使用官方演示实例"); //视频标题
        so.write("CuPlayer");
    </script>
    <script language=javascript src="__PUBLIC__/js/player/js/action.js" type=text/javascript></script>
    <!--极酷阳光播放器/代码结束-->
</div>

</body>
</html>