<include file="Public:header" />
<div class="main_boc">
    <div class="ban">
        <div class="flexslider">
            <ul class="slides">
                <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2; background: url(http://www.9dcj.com/statics/images/9ducj/ban-1.jpg) 50% 0px no-repeat;" class="flex-active-slide"><a href=""><i class="shadow"></i></a></li>
                <!--  <li style="background:url(http://www.9dcj.com/statics/images/9ducj/ban-2.jpg) 50% 0 no-repeat;"></li>
                  <li style="background:url(http://www.9dcj.com/statics/images/9ducj/ban-1.jpg) 50% 0 no-repeat;"></li>
                  <li style="background:url(http://www.9dcj.com/statics/images/9ducj/ban-2.jpg) 50% 0 no-repeat;"></li>
                  <li style="background:url(http://www.9dcj.com/statics/images/9ducj/ban-1.jpg) 50% 0 no-repeat;"></li>-->
            </ul>
            <ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="http://www.9dcj.com/list-24-1.html#" tabindex="-1"></a></li><li><a class="flex-next flex-disabled" href="http://www.9dcj.com/list-24-1.html#" tabindex="-1"></a></li></ul></div>
    </div>

    <div class="daohang viplay">
        <a href="{:U('VideoSchool/WonderfulVideo')}" target="_blank">精彩视频</a>
        <a href="{:U('VideoSchool/Dataspacial')}" target="_blank">数据专区</a>
        <a href="{:U('VideoSchool/RealTeach')}" target="_blank">实战教学</a>
        <a href="{:U('VideoSchool/BaseTeach')}" target="_blank">基础教学</a>

    </div>
    <div class="listsxt">
        <div class="lists_box">
            <div class="ypo clearfix">
                <div class="jctj_top clearfix">
                    <div class="jctj_top_left">
                        <i></i>
                        <h3>实战教学</h3>

                    </div>
                </div>

            </div>
            <div class="lists clearfix">
                <ul class="play pvml clearfix">
                    <volist name="RealTeach" id="vo" >
                    <li>
                        <a href="{:U('VideoSchool/detailvideo',array('nid'=>$vo['nid']))}}" target="_blank">
                            <div class="lists-right-top">
                                <img src="{$vo.thumb}" width="240" height="140" alt="{$vo.title}">
                                <i class="icon-viedo-exc"></i>
                                <div class="lists-right-top-a clearfix">
                                    <div class="times">{$vo.createtime}</div>
                                    <!-- <div class="mores"><span>45</span></div> -->
                                </div>

                                <div class="lists-right-top-b">
                                    <div class="wz">
                                        　　{$vo.description}...                            </div>
                                    <div class="bf">
                                        立即播放
                                    </div>
                                </div>
                            </div>
                            <div class="lists-right-bottom">
                                <p>{$vo.title}</p>
                                <div class="two one clearfix">
                                    <div class="name">               {$vo.source}</div>
                                    <div class="llcs">{$vo.clickcount}</div>
                                </div>
                            </div>
                        </a>
                    </li>

                    </volist>

                </ul>
            </div>
            <div style="text-align: center;">
                {$page}
            </div>
        </div>
    </div>
</div>
<include file="Public:footer"/>
<!--login-->

<script>
    function changing(){
        document.getElementById('checkpic').src="http://www.9dcj.com/ajax/code.php?"+Math.random();
    } ;
    $(document).ready(function(){

        $("#checkcode").click(function(){
            $('#signup-username').val();
            $('#signup-mobile').val();
            $('#signup-captcha').val();

            $.post("/ajax/zhuce.php",{nickname:$('#signup-username').val(),phone:$('#signup-mobile').val(),piccode:$('#signup-captcha').val()},function(data){
                if(data.result==0){
                    alert(data.message);
                }else{
                    alert(data.message);
                }
            },'json');
        });

        $("#zhuce").click(function(){
            $('#phone').val();
            $('#quc_captcha').val();
            $.post("/ajax/zhuces.php",{nickname:$('#signup-username').val(),phone:$('#signup-mobile').val(),piccode:$('#signup-captcha').val(),smscode:$('#signup-smscode').val(),password:$('#signup-password').val()},function(data){
                if(data.result==0){
                    alert(data.message);
                }else{
                    alert(data.message);
                }
            },'json');
        });

        $("#loginsubmits").click(function(){
            $.post("/ajax/login.php",{phone:$('#signin-usernames').val(),password:$('#signin-passwords').val()},function(data){
                if(data.result==0){
                    alert(data.message);
                }else{
                    alert(data.message);

                    // $('#phone').val("");
                    //$('#quc_captcha').val("");
                }
            },'json');
        });




    });

</script>
<script src="./财经技术专区 - 9度直播-看财经大咖上9度直播_files/z_stat.php" language="JavaScript"></script><script src="./财经技术专区 - 9度直播-看财经大咖上9度直播_files/core.php" charset="utf-8" type="text/javascript"></script><a href="http://www.cnzz.com/stat/website.php?web_id=1260105846" target="_blank" title="站长统计">站长统计</a><script type="text/javascript">
    $(document).ready(function(){
        $('.flexslider').flexslider({
            directionNav: true,
            pauseOnAction: false
        });
        $(document).scroll(function(){
            var top=$(document).scrollTop();
            if(top>410){
                $(".daohang").addClass("dhfixed");
            }else{
                $(".daohang").removeClass("dhfixed");
            }
        })
    });
</script>


</body></html>