<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/renzheng/css/style.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/renzheng/css/base.css">
	<script type="text/javascript" src="__PUBLIC__/renzheng/js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="__PUBLIC__/renzheng/js/zepto.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/renzheng/js/iscroll-zoom.js"></script>
	<script type="text/javascript" src="__PUBLIC__/renzheng/js/script.js"></script>
</head>
<body>
<div class="main clearfix">
	<div class="main-left">
		<div class="main-left-tit">
			<em>维权中心</em>
		</div>
		<div class="main-left-cen">
			<div class="main-left-cen-a">
				<span>填写举报内容</span>
				<em><img src="__PUBLIC__/renzheng/images/bg.png"></em>
				<span>官方审核</span>
				<em><img src="__PUBLIC__/renzheng/images/bg.png"></em>
				<b>完成</b>
			</div>
			<div class="main-left-cen-b">
				<div class="box clearfix">
				<div class="piv"><img src="__PUBLIC__/renzheng/images/suc.jpg"></div>
				<div class="shr">
					<h3>您的举报已受理，感谢您对贵公司帮助。</h3>
					<p>我们工作人员会尽快处理您的举报，处理结果会在第一时间通知您。</p>
					<!--<div class="bttn"><button class="subs"><a href="{:U('LiveHall/Livelist')}">返回首页</a></button></div>-->
					<a href="{:U('LiveHall/Livelist')}" class="subs" style="display:block;margin-top: 20px;text-align: center;width: 120px; ">返回首页</a>
				</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="main-right">
		<h1>免责声明</h1>
		<div class="main-right-new">
			<ul>
				<li>1、直播室播主所发言论均代表七个人对市场所持观点，网友应充分考虑市场的高风险性，因此操作风险自担。</li>
				<li>2、9度直播提供此互动平台不代表认可其观点。</li>
				<li>3、9度直播所有播主不提供待客理财或QQ咨询等非法业务。</li>
				<li>4、有私下进行收费咨询或推销其他产品服务，属于非法个人行为与9度无关，请各位网友务必不要上当受骗！如发现上述违规行为可向9度客服举报。</li>
			</ul>
		</div>
	</div>
</div>


</body>
</html>