
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>财经视频学堂 - 9度直播-看财经大咖上9度直播</title>
    <meta name="description" content="财经视频学堂-中国财经互动直播网，财经视频专区提供：免费财经视频下载,财经视频讲解在线观看，财经教学视频，财经视频集锦，财经高手视频，现货视频学习，期货视频学习，外汇视频学习及其他财经学习视频就在中国财经互动直播网">
    <meta name="keywords" content="财经视频学堂,财经视频网,财经视频下载,财经视频讲解,财经教学视频,财经视频集锦,财经高手视频,现货视频学习,期货视频学习,外汇视频学习">
    <meta name="baidu-site-verification" content="2HkTXlAt7g" />


<body>

<include file="Public:header" />

<div class="main_boc">
    <script src="{$video.vurl}" type="text/javascript"></script>
    <script type="text/javascript">uaredirect("http://wap.9dcj.com/list-66-1.html");</script>
    <div class="ban">
        <div class="flexslider">
            <ul class="slides">
                <li style="background:url(http://www.9dcj.com/statics/images/9ducj/ban-1.jpg) 50% 0 no-repeat;"><a href=""><i class="shadow"></i></a></li>
                <!--  <li style="background:url(http://www.9dcj.com/statics/images/9ducj/ban-2.jpg) 50% 0 no-repeat;"></li>
                  <li style="background:url(http://www.9dcj.com/statics/images/9ducj/ban-1.jpg) 50% 0 no-repeat;"></li>
                  <li style="background:url(http://www.9dcj.com/statics/images/9ducj/ban-2.jpg) 50% 0 no-repeat;"></li>
                  <li style="background:url(http://www.9dcj.com/statics/images/9ducj/ban-1.jpg) 50% 0 no-repeat;"></li>-->
            </ul>
        </div>
    </div>

    <div class="daohang viplay">
        <a href="http://www.9dcj.com/list-66-1.html" class='headcur'  target="_blank">精彩视频</a>
        <a href="http://www.9dcj.com/list-23-1.html"   target="_blank">数据专区</a>
        <a href="http://www.9dcj.com/list-24-1.html"   target="_blank">实战教学</a>
        <a href="http://www.9dcj.com/list-25-1.html"   target="_blank">基础教学</a>

    </div>
    <div class="listsxt">
        <div class="lists_box">
            <div class="ypo clearfix">
                <div class="jctj_top clearfix">
                    <div class="jctj_top_left">
                        <i></i>
                        <h3>{$category[catname]}</h3>

                    </div>
                    <div class="jctj_top_right">
                        <a href="http://www.9dcj.com">首页</a><!--<span> &gt; </span>--> <a href="http://shixue.9dcj.com/">视学堂</a><!-- &gt;--> <a href="http://www.9dcj.com/list-66-1.html">精彩视频</a>
                    </div>
                </div>

            </div>
            <div class="lists clearfix">
                <ul class="play pvml clearfix">

                    <foreach name="lives" item="video">
                        <li>
                        <a href="http://www.9dcj.com/content-66-264-1.html" target="_blank">
                            <div class="lists-right-top" >
                                <img src="{$video.thumb}" width="240" height="140" alt="{$video.title}">
                                <i class="icon-viedo-exc"></i>
                                <div class="lists-right-top-a clearfix">
                                    <div class="times">{$video[createtime]}</div>
                                    <!-- <div class="mores"><span>241</span></div> -->
                                </div>

                                <div class="lists-right-top-b">
                                    <div class="wz">
                                        　　{$video[description]}</div>
                                    <div class="bf">
                                        立即播放
                                    </div>
                                </div>
                            </div>
                            <div class="lists-right-bottom">
                                <p>张明：详解符合牛股标准有色板块</p>
                                <div class="two one clearfix">
                                    <div class="name">                金融街直播室</div>
                                    <div class="llcs">241</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    </foreach>


                </ul>
            </div>
        </div>
    </div>
</div>
<include file="Public:footer" />

<!--search-->
<!--<div class="search-more">
<div class="search-wrapper">
	<div class="search-itemset">
		<dl class="filter-box clearfix">
			<dt>综合排序</dt>
			<dd>
				<ul>
					<li><a href="">最多点击</a></li>
					<li><a href="">最新发布</a></li>
					<li><a href="">最多收藏</a></li>
					<li><a href="">最多分享</a></li>
				</ul>
			</dd>
		</dl>
		<dl class="filter-box clearfix">
			<dt>全部分类</dt>
			<dd>
				<ul>
					<li><a href="">现货</a></li>
					<li><a href="">期货</a></li>
					<li><a href="">现货</a></li>
					<li><a href="">期货</a></li>
					<li><a href="">现货</a></li>
					<li><a href="">现货</a></li>
					<li><a href="">期货</a></li>
					<li><a href="">现货</a></li>
					<li><a href="">期货</a></li>
					<li><a href="">现货</a></li>
				</ul>
			</dd>
		</dl>
		<dl class="filter-box clearfix">
			<dt>全部时长</dt>
			<dd>
				<ul>
					<li><a href="">10分钟以下</a></li>
					<li><a href="">10-30分钟</a></li>
					<li><a href="">30-60分钟</a></li>
					<li><a href="">60分钟以上</a></li>
				</ul>
			</dd>
		</dl>
		<div class="btn-box-record"><input value="搜索" class="c-search-btns" type="submit"></div>
	</div>

	<div class="section-recent_sub">
		<h2>大家正在搜</h2>
		<ul>
			<li><a href="">大家都在搜#行情走势#行情总结#</a></li>
			<li><a href="">大家都在搜#今日行情#走势解读#</a></li>
			<li><a href="">大家都在搜#最新行情#最新研报#</a></li>
			<li><a href="">大家都在搜#解盘分析#最新提醒#</a></li>
			<li><a href="">大家都在搜#盘中解读#专家提示#</a></li>
			<li><a href="">大家都在搜#行情预测#专家分析#</a></li>
			<li><a href="">大家都在搜#盘前提示#专家解盘#</a></li>
			<li><a href="">大家都在搜#走势解析#操作建议#</a></li>
			<li><a href="">大家都在搜#盘后总结#即时价格#</a></li>
		</ul>
	</div>
	<div class="section-hotwords_more">
		<h2>热门搜词</h2>
		<ul class="hot-search">
			<li><a href="" class="">今日最新提示</a></li>
			<li><a href="" class="">今日最新行情解读</a></li>
			<li><a href="" class="">盘中走势分析</a></li>
			<li><a href="" class="">盘后行情汇总</a></li>
			<li><a href="" class="">行情走势图分析</a></li>
			<li><a href="" class="">价格运行走势</a></li>
			<li><a href="" class="">早评（午评、晚评）提示</a></li>
			<li><a href="" class="">财经数据咨询</a></li>
			<li><a href="" class="">大宗商品知识</a></li>
			<li><a href="" class="">非农数据解析</a></li>
			<li><a href="" class="">非农操作技巧</a></li>
			<li><a href="" class="">趋势线战法</a></li>
			<li><a href="" class="">实战技巧</a></li>
			<li><a href="" class="">非农操作策略</a></li>
			<li><a href="" class="">K线形态技术战法</a></li>
		</ul>
	</div>
</div>
</div>-->
<!--<script type="text/javascript">
	$(".inp-text").bind("focus",function(){
		$(".search-more").css("display","block");
		$(".main_boc").css("display","none");
	})
	$(".inp-text").bind("blur",function(){
		$(".search-more").css("display","none");
		$(".main_boc").css("display","block");
	})
</script>-->
<script>
    function changing(){
        document.getElementById('checkpic').src="http://www.9dcj.com/ajax/code.php?"+Math.random();
    } ;
    $(document).ready(function(){
        if($.cookie('mycookie')){
            $("#login_a").html("用户名:"+$.cookie('mycookie'));
        }




        $("#checkcode").click(function(){
            $('#signup-username').val();
            $('#signup-mobile').val();
            $('#signup-captcha').val();

            $.post("/ajax/zhuce.php",{nickname:$('#signup-username').val(),phone:$('#signup-mobile').val(),piccode:$('#signup-captcha').val()},function(data){
                if(data.result==0){
                    alert(data.message);
                }else{
                    alert(data.message);
                }
            },'json');
        });

        $("#zhuce").click(function(){
            $('#phone').val();
            $('#quc_captcha').val();
            $.post("/ajax/zhuces.php",{nickname:$('#signup-username').val(),phone:$('#signup-mobile').val(),piccode:$('#signup-captcha').val(),smscode:$('#signup-smscode').val(),password:$('#signup-password').val()},function(data){
                if(data.result==0){
                    alert(data.message);
                }else{
                    alert(data.message);
                    if($.cookie('mycookie')){
                        $("#login_a").html("用户名:"+$.cookie('mycookie'));
                    }
                }
            },'json');
        });

        $("#loginsubmits").click(function(){
            $.post("/ajax/login.php",{phone:$('#signin-usernames').val(),password:$('#signin-passwords').val()},function(data){
                if(data.result==0){
                    alert(data.message);

                }else{
                    alert(data.message);
                    $('.cd-close-form').click();
                    if($.cookie('mycookie')){
                        $("#login_a").html("用户名:"+$.cookie('mycookie'));
                    }
                    // $('#phone').val("");
                    //$('#quc_captcha').val("");
                }
            },'json');
        });




    });

</script><div style="display:none">
    <script src="https://s4.cnzz.com/z_stat.php?id=1260105846&web_id=1260105846" language="JavaScript"></script></div><script type="text/javascript">
    $(document).ready(function(){
        $('.flexslider').flexslider({
            directionNav: true,
            pauseOnAction: false
        });
        $(document).scroll(function(){
            var top=$(document).scrollTop();
            if(top>410){
                $(".daohang").addClass("dhfixed");
            }else{
                $(".daohang").removeClass("dhfixed");
            }
        })
    });
</script>
</body>
</html>
