<include file="Public:header"/>
<div class="main_boc">
<div class="data clearfix">
	<div class="datas">
		<h3><a href="/">首页</a></h3>
    	<ul class="clearfix" id="normaltab">
        	<li><a href="{:U('Data/data')}" target="_blank">九度数据</a></li>
            <li><a href="{:U('Data/calendar')}" target="_blank">财经日历</a></li>
            <li><a href="{:U('Data/market')}" target="_blank">行情中心</a></li>
     
        </ul>
		<div class="titlebotborder">
	         <div class="border1"></div>
	         <div class="border2"></div>
	    </div>
    </div>
</div>
<div class="data_box">
    <div class="data_main clearfix" id="normalcon">
    	<div class="data_main_1" style="width:800px;float:left;"><iframe  frameborder="0"  marginheight="0"  marginwidth="0"  scrolling="No"  src="http://115.28.6.92:8099/rili/
"  width="1200"  height="1700"></iframe>
		</div>

    </div>
	
	
	
</div>
</div>
<include file="Public:footer"/>
<!--login-->
<div class="cd-user-modal"> 
		<div class="cd-user-modal-container">
			<ul class="cd-switcher">
				<li><a href="http://9dcj.9dushuju.com/list-12-1.html#0">登录</a></li>
				<li><a href="http://9dcj.9dushuju.com/list-12-1.html#0">注册</a></li>
			</ul>

			<div id="cd-login"> <!-- 登录 -->
				<div class="third-list clearfix">
                <a href="http://9dcj.9dushuju.com/list-12-1.html" class="third-icon third-icon-qq" target="_blank" title="QQ帐号登录"></a>
                <a href="http://9dcj.9dushuju.com/list-12-1.html" class="third-icon third-icon-wx" target="_blank" title="微信帐号登录"></a>
                <a href="http://9dcj.9dushuju.com/list-12-1.html" class="third-icon third-icon-wb third-icon-last" target="_blank" title="微博帐号登录"></a>
            	</div>
				<p class="third-text">第三方帐号直接登录</p>
				<p class="loginbox-or-line"></p>
				<div class="cd-form">
				
					<p class="loginbox-form-title">帐号登录</p>
					<p class="fieldset">
						<label class="image-replace cd-username" for="signin-username">用户名</label>
						<input class="full-width has-padding has-border" id="signin-username" type="text" placeholder="输入用户名">
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signin-password">密码</label>
						<input class="full-width has-padding has-border" id="signin-password" type="text" placeholder="输入密码">
					</p>

					<p class="fieldset">
						<input type="checkbox" id="remember-me" checked="checked">
						<label for="remember-me">记住登录状态</label>
						<a class="anchor_line forget-pwd" href="http://9dcj.9dushuju.com/list-12-1.html" target="_blank">忘记密码?</a>
					</p>

					<p class="fieldset">
						<input class="full-width2" type="submit" value="登 录">
					</p>
				
				</div>
			</div>

			<div id="cd-signup"> <!-- 注册 -->
				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">输入昵称</label>
						<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="输入昵称">
					</p>

					<p class="fieldset">
						<label class="image-replace cd-email" for="signup-email">输入密码</label>
						<input class="full-width has-padding has-border" id="signup-email" type="password" placeholder="输入密码">
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signup-password">确认密码</label>
						<input class="full-width has-padding has-border" id="signup-password" type="text" placeholder="确认密码">
					</p>

					<p class="fieldset">
						<input type="checkbox" id="accept-terms" checked="checked">
						<label for="accept-terms">我已阅读并同意 <a href="http://9dcj.9dushuju.com/list-12-1.html#0">用户协议</a></label>
					</p>

					<p class="fieldset">
						<input class="full-width2" type="submit" value="注册">
					</p>
				</form>
				<p class="loginbox-or-line"></p>
				<div class="third-list clearfix">
                <a href="http://9dcj.9dushuju.com/list-12-1.html" class="third-icon third-icon-qq" target="_blank" title="QQ帐号登录"></a>
                <a href="http://9dcj.9dushuju.com/list-12-1.html" class="third-icon third-icon-wx" target="_blank" title="微信帐号登录"></a>
                <a href="http://9dcj.9dushuju.com/list-12-1.html" class="third-icon third-icon-wb third-icon-last" target="_blank" title="微博帐号登录"></a>
            	</div>
				<p class="third-text pb">第三方帐号直接登录</p>
			</div>

			<a href="javascript:void(0)" class="cd-close-form">关闭</a>
		</div>
	</div>
	
<!--search-->
<div class="search-more">
<div class="search-wrapper">
	<div class="search-itemset">
		<dl class="filter-box clearfix">
			<dt>综合排序</dt>
			<dd>
				<ul>
					<li><a href="http://9dcj.9dushuju.com/list-12-1.html">最多点击</a></li>
					<li><a href="http://9dcj.9dushuju.com/list-12-1.html">最新发布</a></li>
					<li><a href="http://9dcj.9dushuju.com/list-12-1.html">最多收藏</a></li>
					<li><a href="http://9dcj.9dushuju.com/list-12-1.html">最多分享</a></li>
				</ul>
			</dd>
		</dl>
		<dl class="filter-box clearfix">
			<dt>全部分类</dt>
			<dd>
				<ul>
					<li><a href="http://9dcj.9dushuju.com/list-12-1.html">现货</a></li>
					<li><a href="http://9dcj.9dushuju.com/list-12-1.html">期货</a></li>
					<li><a href="http://9dcj.9dushuju.com/list-12-1.html">现货</a></li>
					<li><a href="http://9dcj.9dushuju.com/list-12-1.html">期货</a></li>
					<li><a href="http://9dcj.9dushuju.com/list-12-1.html">现货</a></li>
					<li><a href="http://9dcj.9dushuju.com/list-12-1.html">现货</a></li>
					<li><a href="http://9dcj.9dushuju.com/list-12-1.html">期货</a></li>
					<li><a href="http://9dcj.9dushuju.com/list-12-1.html">现货</a></li>
					<li><a href="http://9dcj.9dushuju.com/list-12-1.html">期货</a></li>
					<li><a href="http://9dcj.9dushuju.com/list-12-1.html">现货</a></li>
				</ul>
			</dd>
		</dl>
		<dl class="filter-box clearfix">
			<dt>全部时长</dt>
			<dd>
				<ul>
					<li><a href="http://9dcj.9dushuju.com/list-12-1.html">10分钟以下</a></li>
					<li><a href="http://9dcj.9dushuju.com/list-12-1.html">10-30分钟</a></li>
					<li><a href="http://9dcj.9dushuju.com/list-12-1.html">30-60分钟</a></li>
					<li><a href="http://9dcj.9dushuju.com/list-12-1.html">60分钟以上</a></li>
				</ul>
			</dd>
		</dl>
		<div class="btn-box-record"><input value="搜索" class="c-search-btns" type="submit"></div>
	</div>
	<!--<div class="jctj">
    	<div class="jctj_top clearfix">
        	<div class="jctj_top_left">
            	
                <h3>热门视频</h3>
                
            </div>
     
        </div>
        <div class="jctj_bottom">
        	<ul class="clearfix">
            	<li>
					<a href="">
                    	<div class="jctj_bottom_a">
                        	<img src="images/sy/1.jpg">
							<span>改按时就嗲姐弟俩索拉卡...</span>
                            <div class="list-right-top-b"><b class="icos"><img src="images/sy/2.png"></b></div>
                        </div>
                        <div class="jctj_bottom_b clearfix">
                        	<div class="name">红色金融</div>
                            <div class="llcs">3891</div>
                        </div>
					</a>
                </li>
                <li>
					<a href="">
                    	<div class="jctj_bottom_a">
                        	<img src="images/sy/1.jpg">
							<span>改按时就嗲姐弟俩索拉卡...</span>
                            <div class="list-right-top-b"><b class="icos"><img src="images/sy/2.png"></b></div>
                        </div>
                        <div class="jctj_bottom_b clearfix">
                        	<div class="name">红色金融</div>
                            <div class="llcs">3891</div>
                        </div>
					</a>
                </li>
                <li>
					<a href="">
                    	<div class="jctj_bottom_a">
                        	<img src="images/sy/1.jpg">
							<span>改按时就嗲姐弟俩索拉卡...</span>
                            <div class="list-right-top-b"><b class="icos"><img src="images/sy/2.png"></b></div>
                        </div>
                        <div class="jctj_bottom_b clearfix">
                        	<div class="name">红色金融</div>
                            <div class="llcs">3891</div>
                        </div>
					</a>
                </li>
                <li class="last">
                    	<a href="">
                    	<div class="jctj_bottom_a">
                        	<img src="images/sy/1.jpg">
							<span>改按时就嗲姐弟俩索拉卡...</span>
                            <div class="list-right-top-b"><b class="icos"><img src="images/sy/2.png"></b></div>
                        </div>
                        <div class="jctj_bottom_b clearfix">
                        	<div class="name">红色金融</div>
                            <div class="llcs">3891</div>
                        </div>
					</a>
                </li>
                <li>
					<a href="">
                    	<div class="jctj_bottom_a">
                        	<img src="images/sy/1.jpg">
							<span>改按时就嗲姐弟俩索拉卡...</span>
                            <div class="list-right-top-b"><b class="icos"><img src="images/sy/2.png"></b></div>
                        </div>
                        <div class="jctj_bottom_b clearfix">
                        	<div class="name">红色金融</div>
                            <div class="llcs">3891</div>
                        </div>
					</a>
                </li>
                <li>
					<a href="">
                    	<div class="jctj_bottom_a">
                        	<img src="images/sy/1.jpg">
							<span>改按时就嗲姐弟俩索拉卡...</span>
                            <div class="list-right-top-b"><b class="icos"><img src="images/sy/2.png"></b></div>
                        </div>
                        <div class="jctj_bottom_b clearfix">
                        	<div class="name">红色金融</div>
                            <div class="llcs">3891</div>
                        </div>
					</a>
                </li>
                <li>
					<a href="">
                    	<div class="jctj_bottom_a">
                        	<img src="images/sy/1.jpg">
							<span>改按时就嗲姐弟俩索拉卡...</span>
                            <div class="list-right-top-b"><b class="icos"><img src="images/sy/2.png"></b></div>
                        </div>
                        <div class="jctj_bottom_b clearfix">
                        	<div class="name">红色金融</div>
                            <div class="llcs">3891</div>
                        </div>
					</a>
                </li>
                <li class="last">
                    	<a href="">
                    	<div class="jctj_bottom_a">
                        	<img src="images/sy/1.jpg">
							<span>改按时就嗲姐弟俩索拉卡...</span>
                            <div class="list-right-top-b"><b class="icos"><img src="images/sy/2.png"></b></div>
                        </div>
                        <div class="jctj_bottom_b clearfix">
                        	<div class="name">红色金融</div>
                            <div class="llcs">3891</div>
                        </div>
					</a>
                </li>
                <li>
					<a href="">
                    	<div class="jctj_bottom_a">
                        	<img src="images/sy/1.jpg">
							<span>改按时就嗲姐弟俩索拉卡...</span>
                            <div class="list-right-top-b"><b class="icos"><img src="images/sy/2.png"></b></div>
                        </div>
                        <div class="jctj_bottom_b clearfix">
                        	<div class="name">红色金融</div>
                            <div class="llcs">3891</div>
                        </div>
					</a>
                </li>
                <li>
					<a href="">
                    	<div class="jctj_bottom_a">
                        	<img src="images/sy/1.jpg">
							<span>改按时就嗲姐弟俩索拉卡...</span>
                            <div class="list-right-top-b"><b class="icos"><img src="images/sy/2.png"></b></div>
                        </div>
                        <div class="jctj_bottom_b clearfix">
                        	<div class="name">红色金融</div>
                            <div class="llcs">3891</div>
                        </div>
					</a>
                </li>
                <li>
					<a href="">
                    	<div class="jctj_bottom_a">
                        	<img src="images/sy/1.jpg">
							<span>改按时就嗲姐弟俩索拉卡...</span>
                            <div class="list-right-top-b"><b class="icos"><img src="images/sy/2.png"></b></div>
                        </div>
                        <div class="jctj_bottom_b clearfix">
                        	<div class="name">红色金融</div>
                            <div class="llcs">3891</div>
                        </div>
					</a>
                </li>
                <li class="last">
                    	<a href="">
                    	<div class="jctj_bottom_a">
                        	<img src="images/sy/1.jpg">
							<span>改按时就嗲姐弟俩索拉卡...</span>
                            <div class="list-right-top-b"><b class="icos"><img src="images/sy/2.png"></b></div>
                        </div>
                        <div class="jctj_bottom_b clearfix">
                        	<div class="name">红色金融</div>
                            <div class="llcs">3891</div>
                        </div>
					</a>
                </li>
            </ul>
        </div>
    </div>-->
	<div class="section-recent_sub">
		<h2>大家正在搜</h2>
		<ul>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html">大家都在搜#行情走势#行情总结#</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html">大家都在搜#今日行情#走势解读#</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html">大家都在搜#最新行情#最新研报#</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html">大家都在搜#解盘分析#最新提醒#</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html">大家都在搜#盘中解读#专家提示#</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html">大家都在搜#行情预测#专家分析#</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html">大家都在搜#盘前提示#专家解盘#</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html">大家都在搜#走势解析#操作建议#</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html">大家都在搜#盘后总结#即时价格#</a></li>
		</ul>
	</div>
	<div class="section-hotwords_more">
		<h2>热门搜词</h2>
		<ul class="hot-search">
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html" class="">今日最新提示</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html" class="">今日最新行情解读</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html" class="">盘中走势分析</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html" class="">盘后行情汇总</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html" class="">行情走势图分析</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html" class="">价格运行走势</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html" class="">早评（午评、晚评）提示</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html" class="">财经数据咨询</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html" class="">大宗商品知识</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html" class="">非农数据解析</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html" class="">非农操作技巧</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html" class="">趋势线战法</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html" class="">实战技巧</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html" class="">非农操作策略</a></li>
			<li><a href="http://9dcj.9dushuju.com/list-12-1.html" class="">K线形态技术战法</a></li>
		</ul>
	</div>
</div>
</div>
<script type="text/javascript">
	$(".inp-text").bind("focus",function(){
		$(this).animate({width:"160px"},"slow")
		$(".search-more").css("display","block");
		$(".main_boc").css("display","none");
	})
	$(".inp-text").bind("blur",function(){
		$(this).animate({width:"100px"},"slow")
		$(".search-more").css("display","none");
		$(".main_boc").css("display","block");
	})
</script>


</body></html>